ul {
  list-style: none;
  padding-left: 0;
}

li {
  line-height: 3em;
}

li:hover {
  background-color: #EEEEEE;
}

li material-checkbox {
  vertical-align: middle;
}

li material-fab {
  float: right;
  vertical-align: middle;
}

.done {
  text-decoration: line-through;
}

.item_number_msg {
  font-size: 1.5em;
  font-weight: bold;
}
